* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3';
  background-image: url(images/portfolio/fon.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 5;
  background-color: #0000003b;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list__link {
  color: white;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.nav-list__link:hover {
  border-color: white;
}

.main-page {
  height: 100vh;
  padding-top: 62px;
  display: flex;
  align-items: center;
}

.main-page__title {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.main-page__subtitle {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 100px;
}

.button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Source Sans 3';
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  background-color: rgb(39 39 39);
  /* border: 1px solid white; */
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(255 255 255 / 30%);
  transition: 0.1s;
}

.button:hover {
  /* background-color: rgba(0, 0, 0, 0.65); */
  box-shadow: 0px 0px 7px 0px rgb(255 255 255 / 40%);
  border-color: transparent;
}

.button-index {
  background-color: transparent;
}

.button__link {
  color: white;
  padding: 10px 20px;
  display: block;
}

.portfolio-body {
  background-repeat: repeat;
  background-size: contain;
  background-color: #333333;
  background-image: none;
}

.portfolio {
  height: auto;
  align-items: baseline;
  margin-top: 100px;
  padding-bottom: 100px;
}

.portfolio-header {
  top: 0;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: 30%;
  margin-bottom: 40px;
}

.portfolio-list__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.55);
  transition: 0.2s;
}

.portfolio-list__img:hover {
  filter: none;
}

.price-body {
  /* background-size: cover;
  background-repeat: no-repeat; */
  height: auto;
  /* background-image: url(images/portfolio/fon-price.png); */
  background-color: #333333;
  background-image: none;
}

.price-header {
  top: 0;
}

.price {
  padding-top: 162px;
  padding-bottom: 100px;
  align-items: baseline;
  height: fit-content;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.price-list__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: rgb(39 39 39);
  padding: 20px;
  border-radius: 10px;
}

.map-address {
  font-size: 20px;
}

.map {
  width: 100%;
  height: 300px;
  outline: none;
  border: none;
  filter: grayscale(1);
  border-radius: 10px;
  margin-bottom: 50px;
}

.contacts-body {
  /* background-image: url(images/portfolio/fon-contacts.png); */
  /* background-position: top; */
  background-color: #333;
  background-image: none;
}

.contacts-title {
  font-size: 30px;
  margin-bottom: 50px;
}

.contacts-buttons {
  display: flex;
  justify-content: space-between;
}

.contacts-button {
  margin: 0;
}

.contacts-button a {
  color: white;
  padding: 10px 20px;
  display: block;
}

.contacts-tg {
  
}

.contacts {
  padding-top: 162px;
  padding-bottom: 100px;
  align-items: baseline;
  height: fit-content;
}

.contacts .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width:1240px) {
  .container {
    width: 800px;
  }

  .portfolio-list__img {
    filter: brightness(0.7);
  }

  .price-list {
    width: 100%;
  }

  .price-list__item {
    font-size: 16px;
  }

  .contacts .container {
    flex-direction: column;
  }

  .map-address {
    text-align: center;
  }

  .map-box {
    margin-bottom: 75px;
  }

  .contacts-description {
    width: fit-content;
    margin: 0 auto;
  }  
}

@media (max-width:840px) {
  .container {
    width: 500px;
  }

  .main-page__title {
    font-size: 50px;
  }

  .main-page__subtitle {
    margin-bottom: 50px;
  }

  .portfolio-list__item {
    width: 45%;
  }

  .price-list__item {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:540px) {
  .container {
    width: 350px;
  }

  .main-page__title {
    font-size: 35px;
  }

  .main-page__subtitle {
    font-size: 25px;
    margin-bottom: 75px;
  }

  .portfolio-list__item {
    width: 100%;
    height: 350px;
  }

  .contacts-title {
    text-align: center;
  }
}